# Stop the editor from looking for .editorconfig files in the parent directories
root = true

[*]
# Non-configurable Prettier behaviors
charset = utf-8
insert_final_newline = true
# Caveat: Prettier won’t trim trailing whitespace inside template strings, but your editor might.
trim_trailing_whitespace = true

# Configurable Prettier behaviors
# (change these if your Prettier config differs)
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 80

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{md,rmd,mkd,mkdn,mdwn,mdown,markdown,litcoffee}]
indent_style = space
trim_trailing_whitespace = false

[*.html]
indent_style = space
indent_size = 2

[*.css]
indent_size = 2

[*.{js,mjs,cjs,jsx,ts,mjs,cjs,tsx}]
indent_style = space
indent_size = 2

[*.json]
indent_size = 2

# Windows specific files should retain windows line-endings
[*.{sln,[sS][lL][nN]}]
end_of_line = crlf
[*.{cmd,[cC][mM][dD]}]
end_of_line = crlf
[*.{bat,[bB][aA][tT]}]
end_of_line = crlf
[*.{ps1,psm1}]
end_of_line = crlf
